<% for (let post of postsArray) { %>
    
    <div class="post-container" id="post-<%= post._id %> ">

        <!-- create option menu for delete and etc options-->

        <% if ( locals.user && locals.user.id == post.user.id ) { %>

            <div class="dropdown delete-post-btn">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a href="/posts/destroy/<%= post.id %>" class="dropdown-item">Delete</a></li>
                  <li><a class="dropdown-item" href="#">Edit Blog</a></li>
                </ul>
              </div>
            
        <% } %> 

        <span class="post-profile-photo">
            <img src="<%= post.user.avatar %>" alt="">
        </span>

        <span class="post-author">

            <%= post.user.name %>
            
            <div id="post-time-date">
                <%= String(post.createdAt).substring(4, 16) + " at " + String(post.createdAt).substring(16, 21)  %>
                <!-- Just now -->
            </div>

        </span>

        <div class="post-content">
            <span style="display: block;"><%= post.content %></span>

            <div style="width: 100%; display: flex; justify-content: center;">

                <% if(post.media) { %>

                    <img src="<%= post.media %> " alt="" style="height: auto; width: 95vw; margin-top: 1%;">
                    
                <% } %> 

            </div>
        </div>

        <div class="likes-comment-share">
            <span data-bs-toggle="/like/toggle/?id=<%= post._id %>&type=Post" onclick="handlePostLike(this)" class="<%= post.likes.some(ele => ele.user == locals.user.id) ? 'liked' : 'not-liked'%>">
                <i class="far fa-thumbs-up"> &nbsp;
                    Like &nbsp;
                    <span><%= post.likes.length %></span>
                </i>
            </span>
            <i class="far fa-comment"> &nbsp; Comment</i>
            <i class="fas fa-share"> &nbsp; <span>Share</span></i>
        </div>

        <div class="display-comments" style="position: relative;">

            <% for (let comment of post.comments) { %>
                
                <div class="comment-section" id="comment-<%= comment.id %>">

                    <span class="comment-profile-photo">
                        <img src="<%= comment.user.avatar %>" alt="">
                    </span>
                    <span class="comment-author"> <%= comment.user.name %> </span> &nbsp;
                    <span class="comment">
                        <%= comment.comment %>
                    </span>

                    <span data-bs-toggle="/like/toggle/?id=<%= comment._id %>&type=Comment" onclick="handleCommentLike(this)" class="like-comment <%= comment.likes.some(ele => ele.user == locals.user.id) ? 'liked' : 'not-liked'%>">
                        <span class="comment-likes-count"><%= comment.likes.length %> </span>
                        <i class="far fa-thumbs-up"></i>
                    </span>

                    <% if (comment.user.id == locals.user.id || post.user.id == locals.user.id) { %>
                        
                        <a href="/comments/destroy/<%= comment._id %>" class="delete-comment" id="comment-<%= comment.id %> "><i class="fas fa-trash"></i></a>

                    <% } %> 
                    
                </div>

            <% } %>

        </div>

        <div class="post-comments">

            <span class="comment-profile-photo" style="border: none;">
                <img src="<%= locals.user.avatar %>" alt="" style="height: 100%; width: 100%; border-radius: 50%;">
            </span>

            <form method="POST" action="/comments/create-comment" autocomplete="off" id="new-comment-form">

                <input type="text" name="comment" class="comment-content" placeholder="Comment" required></input>
                <!-- we have to send id of the post to comments as well -->
                <input type="hidden" name="post" value="<%=post._id%>">
                <button type="submit" class="comment-btn"> <i class="far fa-paper-plane"></i> </button>

            </form>

        </div>

    </div>

<% } %>

<script>

    function handlePostLike(link) {

        // make an ajax call
        $.ajax({

            type : 'get',
            url : $(link).attr('data-bs-toggle'),
            success : function(data) {

                let likedCount = Number($(link).children().children()[0].innerHTML);
                
                if(data.data.deleted === false){
                    likedCount += 1;
                }

                else{
                    likedCount -= 1;
                }

                $(link).children().children()[0].innerHTML = likedCount;
                toggleColor(link, data.data.deleted);
            },

            error : function(err) {
                console.log("&&&&&&&&", err);
            }
        });
    }

    function handleCommentLike(link) {

        // make an ajax call
        $.ajax({

            type : 'get',
            url : $(link).attr('data-bs-toggle'),
            success : function(data) {

                let likedCount = Number($(link).children()[0].innerText);
                
                if(data.data.deleted === false){
                    likedCount += 1;
                }

                else{
                    likedCount -= 1;
                }

                $(link).children()[0].innerText = likedCount;
                toggleColor(link, data.data.deleted);
            },

            error : function(err) {
                console.log("&&&&&&&&", err);
            }
        });
    }

    function toggleColor(link, status){

        if(status === false){
            $(link).css({
                'color': 'red'
            });
        }

        else{
            $(link).css({
                'color': 'grey'
            });
        }
    }

</script>