<!-- create a form for POSTS -->

<link rel="stylesheet" href="../assets/css/home.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

<main>

    <div id="left-home-news">
        <%- include('_newsSection') %>
    </div>
    
    <section id="middle-home-posts">
    
        <div id="heading">
            <span id="heading-text">Home</span>
        </div>
    
        <div id="new-post">

            <div id="upper">

                <section id="profile-logo"></section>

                <form action="/posts/create-post" method="POST">
                    <textarea name="content" id="post-content"" placeholder="Write your post"></textarea>
                    <input type="submit" value="Post" id="post-button">
                </form>

            </div>

            <section id="more-options"></section>

        </div>

        <!-- <span id="post-heading">Posts</span> -->

        <div id="new-feeds">
    
            <% for (let i=0; i<postsArray.length; i++) { %>
    
                <div class="post-container">

                    <!-- create option menu for delete and etc options-->
                    <div class="dropdown">

                        <span class="dropbtn" onclick="displayMenu( '<%= i %> ' )"> <i class="fas fa-ellipsis-h"></i> </span>

                        <div class="dropdown-content">

                            <% if ( locals.user && locals.user.id == postsArray[i].user.id ) { %>

                                <a href="/posts/destroy/<%= postsArray[i].id %>">Delete</a>
                                
                            <% } %> 

                        </div>

                    </div>

                    <span class="post-profile-photo"></span>

                    <span class="post-author">

                        <%= postsArray[i].user.name %>

                        <div id="post-time-date">
                            <!-- String(postsArray[i].createdAt).substring(0, 16) + ", " + String(postsArray[i].createdAt).substring(16, 21) -->
                            Just now
                        </div>

                    </span>

                    <div class="post-content">
                        <%= postsArray[i].content %>
                    </div>

                    <div class="likes-comment-share">
                        <i class="far fa-thumbs-up"> &nbsp; Like</i>
                        <i class="far fa-comment"> &nbsp; Comment</i>
                        <i class="fas fa-share"> &nbsp; <span>Share</span></i>
                    </div>

                    <div class="display-comments">

                        <% for (let comment of postsArray[i].comments) { %>
                            
                            <div class="comment-section">

                                <span class="comment-author"> <%= comment.user.name %> </span> - &nbsp;
                                <span class="comment"> <%= comment.comment %> </span>

                                <% if (comment.user.id == locals.user.id || postsArray[i].user.id == locals.user.id) { %>

                                    <a href="/comments/destroy/<%= comment.id %>" class="delete-comment"><i class="fas fa-trash"></i></a>

                                <% } %> 
                                
                            </div>

                        <% } %>

                    </div>

                    <div class="post-comments">

                        <form method="POST" action="/comments/create-comment">

                            <span class="comment-profile-photo"></span>

                            <textarea name="comment" class="comment-content" placeholder="Comment"></textarea>
                            <!-- we have to send id of the post to comments as well -->
                            <input type="hidden" name="post" value="<%=postsArray[i]._id%>">
                            <button type="submit" class="comment-btn"> <i class="far fa-paper-plane"></i> </button>
    
                        </form>

                    </div>

                </div>
            
            <% } %>
        </div>
    
    </section>
    
    <div id="right-home-friends">
        <%- include('_friendsSection') %>
    </div>

</main>

<script src="../assets/js/homeScript.js"></script>