<!-- create a form for POSTS -->

<link rel="stylesheet" href="../assets/css/home.css">

<main>

    <div id="left-home-news">
        <%- include('_newsSection') %>
    </div>
    
    <section id="middle-home-posts">
    
        <div id="heading">
            <span id="heading-text">Home</span>
        </div>
    
        <div id="new-post">

            <div id="upper">

                <section id="profile-logo"></section>

                <form action="/posts/create-post" method="POST">
                    <textarea name="content" id="post-content"" placeholder="What's Up ?"></textarea>
                    <input type="submit" value="Post" id="post-button">
                </form>

            </div>

            <section id="more-options"></section>

        </div>
    
        <h3>New Feeds</h3>
    
        <ul style="list-style: none;">
    
            <% for (let i=0; i<postsArray.length; i++) { %>
    
                <li>
                    <p>
    
                        <b> <%= postsArray[i].user.name %> </b> -
                        <%= postsArray[i].content %>
    
                    </p>

                    <div class="post-comments">

                        <form method="POST" action="/comments/create-comment">

                            <textarea name="comment" id="" cols="10" rows="2"></textarea>
                            <!-- we have to send id of the post to comments as well -->
                            <input type="hidden" name="post" value="<%=postsArray[i]._id%>">
                            <input type="submit" value="comment">
    
                        </form>

                    </div>

                    <div id="display-comments-<%= postsArray[i]._id %> ">

                        <ul>
                            <% for (let comment of postsArray[i].comments) { %>
                                
                                <li>

                                    <b> <%= comment.user.name %> </b>
                                    <small> <%= comment.comment %> </small>
                                    
                                </li>

                            <% } %> 
                        </ul>

                    </div>

                </li>
            
            <% } %> 
    
    
        </ul>
    
    </section>
    
    <div id="right-home-friends">
        <%- include('_friendsSection') %>
    </div>

</main>